.form__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4rem;
}

.form {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
  flex: 1;
  padding: 2rem 4rem;
  text-align: start;
}
