.times {
  padding: 32px;
  text-align: center;
}

.times__container {
  background-image: url(/public/images/fundo.png);
  position: relative;
}

.times input {
  position: absolute;
  top: 15px;
  right: 15px;
}

.times__title {
  border-bottom: 4px solid;
  display: inline-block;
  font-size: 32px;
  padding-bottom: 8px;
}

.times__colaboradores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 32px;
}
